body{background-image: url(https://boygeniusreport.files.wordpress.com/2015/03/android-robot-sign.jpg?quality=98&strip=all);
    background-color: black;
    color: whitesmoke;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



nav li{
    display:inline;}

.nav{
    float: left;
}
  
nav ul li a{
    text-decoration:none;
    padding:18px;
    text-transform:uppercase;
    color:whitesmoke;}
    
nav>ul>li>a:hover{
    box-shadow:0 0 10px;
    background-color:green;
  }

.middle{
    background-size: cover;  
}
.juliet{
    font-family: 'Montaga', serif;
    font-size: 1.2em;
    margin-left: 2px;
    text-align: center;
    
}
#topic{
    font-family:font-family: 'Muli', sans-serif; 
    font-size: 1.3em;
}
#h3{
    font-family:font-family: 'Roboto Mono', monospace; 
    font-size: 1em;
}
#p{
    font-family: 'Anton', sans-serif;
}
.h3{
 font-family: 'Montaga', serif;
    font-size: 1.2rem; 
    padding-bottom: 40px;
}
#boutme{
    font-family: 'Source Serif Pro', serif;
    font-size: 2em;
    padding: 8px;
}
.aim{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.5em;
}
#contact{
    font-family: 'Amatic SC', cursive;
    font-size: 3em;
}
.project{
    font-family: 'Merriweather', serif;
}
.about{background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/4zvM_9Ujxil0uk4nr/4k-child-playing-tablet-glasses-school-girl-using-laptop-in-night-black-screen_ryafn6oex_thumbnail-full01.png);
    font-family: 'Roboto Mono', monospace; 
    padding:50px;
    font-size:1.2em;
}
.about.p{
    font-family:'Source Serif Pro', serif;
}